@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Roboto:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: none;
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
  color: #212121;
}

.btn {
  width: 220px;
  height: 55px;
  background: #D7B399;
}
.btn__title {
  text-align: center;
  line-height: 55px;
  color: #FFFFFF;
}

.wrapper {
  margin: 0 auto;
  width: 1110px;
}

header {
  height: 750px;
}
header .nav {
  margin-top: 50px;
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .nav .menu {
  width: 375px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  float: left;
}
header .nav .menu .item {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
}
header .nav .menu .item a {
  line-height: 40px;
}
header .nav .menu .item img {
  margin: 0 0 3px 5px;
}
header .nav .logo {
  margin: 0 auto;
  width: 201px;
  height: 40px;
}
header .nav .logo__title {
  margin-top: 6px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  float: right;
}
header .nav .info {
  width: 355px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  float: right;
}
header .nav .info .info__text {
  width: 163px;
  height: 40px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
}
header .nav .info .info__text a {
  line-height: 40px;
}
header .nav .info .basket {
  width: 91px;
  height: 40px;
}
header .nav .info .basket img {
  margin: 5px 15px 0 0;
}
header .nav .info .basket .basket__num {
  margin-top: 13px;
  width: 45px;
  height: 17px;
  background-color: #D7B399;
  float: right;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
          clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}
header .nav .info .basket .basket__num span {
  width: 33px;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  float: right;
}
header .header__content {
  margin: 126px 0 70px 0;
  width: 1110px;
  height: 514px;
}
header .header__content .slide {
  width: 100%;
  height: 377px;
}
header .header__content .slide__info {
  width: 550px;
  height: 224px;
  float: left;
}
header .header__content .slide__info__title {
  padding-top: 34px;
  width: 335px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.02em;
  color: #000000;
}
header .header__content .slide__info__disc {
  padding-top: 26px;
  width: 570px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 67px;
  letter-spacing: 0.04em;
  color: #000000;
}
header .header__content .slide__info__btn {
  margin-top: 39px;
  width: 240px;
  float: left;
}
header .header__content .slide__img {
  width: 556px;
  height: 377px;
  float: right;
}
header .header__content .slide__img__prices {
  position: relative;
  width: 163px;
  height: 94px;
  bottom: 341px;
  right: 3px;
  float: right;
}
header .header__content .slide__img__prices .prices__disc {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: right;
  letter-spacing: 0.05em;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  text-transform: uppercase;
  color: #000000;
}
header .header__content .slide__img__prices .prices__now {
  position: relative;
  top: 15px;
  left: 8px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 51px;
  text-align: right;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #D84033;
}
header .header__content .slider {
  margin: 0 auto;
  margin-top: 130px;
  width: 205px;
  height: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .header__content .slider__item {
  width: 40px;
  height: 7px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
  background: #CECECE;
}
header .header__content .slider__item-active {
  background: #D7B399;
}
header .header__content .slider__item:hover {
  background: #D7B399;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.delivery {
  width: 100%;
  height: 235px;
  background-color: #212121;
}
.delivery .delivery__text {
  margin: 0 auto;
  padding-top: 80px;
  width: 588px;
  height: 86px;
}
.delivery .delivery__text .text__title {
  width: 588px;
  height: 37px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #fff;
}
.delivery .delivery__text .text__title span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
.delivery .delivery__text .text__subtitle {
  margin-top: 23px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #fff;
}

.clothes__collections {
  width: 100%;
  max-height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.clothes__collections__block {
  width: 555px;
  height: 250px;
}
.clothes__collections__block .block__text {
  margin: 61px 0 0 20px;
  width: 320px;
  float: left;
}
.clothes__collections__block .block__text__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: #000000;
}
.clothes__collections__block .block__text__title span {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: #000000;
}
.clothes__collections__block .block__text__subtitle {
  margin-top: 18px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.clothes__collections__block .block__btn {
  margin: 162px 0 0 20px;
  width: 80px;
  height: 30px;
  background-color: #D7B399;
  position: absolute;
  float: left;
}
.clothes__collections__block .block__btn img {
  margin: 12px 0 0 30px;
}
.clothes__collections__block .block__img {
  width: 190px;
  height: 100%;
  float: right;
}
.clothes__collections__block .block__img img {
  margin-top: 80px;
  position: relative;
}