// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: none;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    color: #212121;
}

// models section

.newModels {
    margin: 150px 0 150px 0;
    width: 1110px;
    height: 640px;

    &__title {
        text-align: center;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 44px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #212121;
    }

    &__items {
        margin: 100px 0 106px 0;
        width: 100%;
        height: 344px;
        display: flex;
        justify-content: space-between;

        .model {
            width: 255px;
            height: 350px;
            text-align: center;
            transition-duration: 0.4s;
            background-image: url(../IMG/FRAME.svg);

            &__img {
                margin-top: 25px;
            }

            &__name {
                margin-top: 22px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                text-align: center;
                color: #000000;
            }

            &__price {
                margin-top: 10px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
                text-align: center;
                color: #D7B399;
            }
        }

        .model:hover {
            transition-duration: 0.4s;
            transform: scale(0.8);
        }
    }

    &__btn {
        margin: 0 auto;

        img {
            margin: 0 0 1px 16px;
        }
    }
}

// BTN 

.btn {
    width: 220px;
    height: 55px;
    background: #D7B399;
    transition-duration: 0.4s;

    &__title {
        transition-duration: 0.4s;
        text-align: center;
        line-height: 55px;
        color: #FFFFFF;
    }
}

.btn:hover {
    transition-duration: 0.4s;
    transform: scale(0.8);
}

// logo

.logo {
    width: 201px;
    height: 40px;

    &__title {
        margin-top: 6px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        float: right;
    }
}

.wrapper {
    margin: 0 auto;
    width: 1110px;
}

header {
    height: 750px;

    .nav {
        margin-top: 50px;
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: space-between;

        .menu {
            width: 375px;
            height: 40px;
            display: flex;
            justify-content: space-between;
            float: left;

            .item {
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                letter-spacing: 0.03em;

                a {
                    line-height: 40px;
                }

                img {
                    margin: 0 0 3px 5px;
                }
            }
        }

        .info {
            width: 355px;
            height: 40px;
            display: flex;
            justify-content: space-between;
            float: right;

            .info__text {
                width: 163px;
                height: 40px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                letter-spacing: 0.03em;

                a {
                    line-height: 40px;
                }
            }

            .basket {
                width: 91px;
                height: 40px;

                img {
                    margin: 5px 15px 0 0;
                }

                .basket__num {
                    margin-top: 13px;
                    width: 45px;
                    height: 17px;
                    background-color: #D7B399;
                    float: right;
                    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);

                    span {
                        width: 33px;
                        text-align: center;
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 12px;
                        line-height: 15px;
                        text-align: center;
                        letter-spacing: 0.03em;
                        color: #FFFFFF;
                        float: right;
                    }
                }
            }
        }
    }

    .header__content {
        margin: 126px 0 70px 0;
        width: 1110px;
        height: 514px;

        .sliderTrack {

            .slide {
                width: 100%;
                height: 377px;
                display: none;

                &__info {
                    width: 550px;
                    height: 224px;
                    float: left;

                    &__title {
                        padding-top: 34px;
                        width: 335px;
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 30px;
                        line-height: 37px;
                        letter-spacing: 0.02em;
                        color: #000000;
                    }

                    &__disc {
                        padding-top: 26px;
                        width: 570px;
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 55px;
                        line-height: 67px;
                        letter-spacing: 0.04em;
                        color: #000000;
                    }

                    &__btn {
                        margin-top: 39px;
                        width: 240px;
                        float: left;
                    }
                }

                &__img {
                    width: 556px;
                    height: 377px;
                    float: right;

                    img {
                        max-width: 556px;
                        max-height: 377px;
                    }
                    &__prices {
                        position: relative;
                        width: 100%;
                        height: 94px;
                        bottom: 341px;
                        right: 3px;
                        float: right;

                        .prices__disc {
                            font-family: Montserrat;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 24px;
                            line-height: 29px;
                            text-align: right;
                            letter-spacing: 0.05em;
                            text-decoration-line: line-through;
                            text-transform: uppercase;
                            color: #000000;
                        }

                        .prices__now {
                            position: relative;
                            top: 15px;
                            font-family: Montserrat;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 42px;
                            line-height: 51px;
                            text-align: right;
                            letter-spacing: 0.02em;
                            text-transform: uppercase;
                            color: #D84033;
                            float: right;
                        }
                    }
                }
            }
            .slide-active {
                display: block;
            }
        }

        .slider {
            margin: 0 auto;
            margin-top: 130px;
            width: 205px;
            height: 7px;
            display: flex;
            justify-content: space-between;

            &__item {
                width: 40px;
                height: 7px;
                transition-duration: 0.2s;
                cursor: pointer;
                background: #CECECE;

                &-active {
                    background: #D7B399;
                }
            }

            &__item:hover {
                background: #D7B399;
                transition-duration: 0.2s;
            }
        }
    }
}

.delivery {
    width: 100%;
    height: 235px;
    background-color: #212121;

    .delivery__text {
        margin: 0 auto;
        padding-top: 80px;
        width: 588px;
        height: 86px;

        .text__title {
            width: 588px;
            height: 37px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 37px;
            text-align: center;
            letter-spacing: 0.02em;
            color: #fff;

            span {
                font-family: Montserrat;
                font-style: normal;
                font-weight: 300;
                font-size: 30px;
                line-height: 37px;
                text-align: center;
                letter-spacing: 0.02em;
                color: #FFFFFF;
            }
        }

        .text__subtitle {
            margin-top: 23px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 300;
            font-size: 21px;
            line-height: 26px;
            text-align: center;
            color: #fff;
        }
    }
}

.clothes {
    height: 1671px;

    &__collections {
        width: 100%;
        max-height: 250px;
        display: flex;

        &__block {
            width: 555px;
            height: 250px;

            .block__text {
                margin: 61px 0 0 20px;
                width: 320px;
                float: left;

                &__title {
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 29px;
                    letter-spacing: 0.03em;
                    color: #000000;

                    span {
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: 300;
                        font-size: 24px;
                        line-height: 29px;
                        letter-spacing: 0.03em;
                        color: #000000;
                    }
                }

                &__subtitle {
                    margin-top: 18px;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 20px;
                    color: #000000;
                }
            }

            .block__btn {
                margin: 162px 0 0 20px;
                width: 80px;
                height: 30px;
                background-color: #D7B399;
                position: absolute;
                transition-duration: 0.4s;
                float: left;

                img {
                    margin: 12px 0 0 30px;
                    transition-duration: 0.4s;
                }

            }

            .block__btn:hover {
                transition-duration: 0.4s;
                transform: scale(0.8);

                img {
                    transition-duration: 0.4s;
                    transform: scale(1.8);
                }

            }

            .block__img {
                margin-right: 2px;
                width: 190px;
                height: 100%;
                float: right;

                img {
                    margin-top: 80px;
                    position: relative;
                }
            }
        }
    }

    &__dresses {
        width: 1110px;
        height: 472px;
        display: grid;
        grid-template-columns: 277px 277px 277px 277px;
        grid-template-rows: 236px 236px;

        .dresses__item {
            width: 277px;
            height: 236px;
            transition-duration: 0.4s;

            &__title {
                position: absolute;
                margin: 187px 0 0 30px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: 300;
                font-size: 21px;
                line-height: 26px;
                letter-spacing: 0.03em;
                color: #000000;
            }
        }

        .dresses__item:hover {
            transition-duration: 0.4s;
            transform: scale(0.8);
        }
    }
}

.notice {
    width: 100%;
    height: 180px;
    background-color: #212121;

    .form {
        padding-top: 70px;
        width: 1110px;
        height: 40px;

        &__title {
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            text-align: center;
            letter-spacing: 0.02em;
            line-height: 40px;
            color: #fff;
            float: left;
        }

        &__input {
            margin-left: 60px;
            width: 252px;
            height: 37px;
            outline: none;

            input[type="email"] {
                margin-left: 20px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: 300;
                font-size: 12px;
                line-height: 15px;
                letter-spacing: 0.02em;
                color: #8D8D8D;
            }
        }

        &__btn {
            width: 185px;
            height: 40px;
            float: right;

            &__title {
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 40px;
                text-align: center;
                color: #FFFFFF;
            }
        }
    }
}

.footer {
    margin-top: 159px;
    width: 100%;
    height: 311px;
    background-color: #212121;

    &__content {
        margin: 0 auto;
        padding-top: 73px;
        width: 1116px;
        height: 160px;
    }

    &__desc {
        width: 201px;
        height: 160px;
        float: left;

        .desc__text {
            margin-top: 30px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            color: #FFFFFF;
        }
    }

    &__nav {
        width: 692px;
        height: 156px;
        display: flex;
        justify-content: space-between;
        float: right;

        &__ul {
            width: 137px;
            display: flex;
            flex-direction: column;
        }

        .nav__ul__title {
            margin: 8px 0 20px 0;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 10px;
            line-height: 12px;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            color: #FFFFFF;
        }

        .nav__ul__link {
            margin-top: 10px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            transition-duration: 0.2s;
            color: #CBCFD4;
        }

        .nav__ul__link:hover {
            transition-duration: 0.2s;
            transform: scale(1.1);
            color: #fff;

            img {
                filter: brightness(0) invert(1);
            }
        }
    }

    .copyright {
        margin-top: 106px;
        width: 100%;
        height: 47px;
        background-color: #fff;

        &__text {
            display: flex;
            justify-content: space-between;

            p {
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 22px;
                color: #212121;
            }
        }
    }
}